!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', http: { equiv: 'Content-Type' } }/
    %title MiniApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    <!-- Compiled and minified CSS -->
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    = javascript_include_tag 'https://code.jquery.com/jquery-3.4.1.js', integrity: 'sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=', crossorigin: 'anonymous'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    <!-- Compiled and minified JavaScript -->
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
  %body
    = yield
